[package]
name = "st0x-dto"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true

[dependencies]
chrono = { workspace = true, features = ["serde"] }
rust_decimal = { workspace = true, features = ["serde"] }
serde = { workspace = true, features = ["derive"] }
ts-rs = { version = "11.1.0", features = [
  "chrono",
  "chrono-impl",
  "serde-compat",
] }

[dev-dependencies]
serde_json.workspace = true

[lints]
workspace = true

[[bin]]
name = "codegen"
path = "src/bin/codegen.rs"
