name: CI
on: [push]

concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  rainix:
    env:
      DATABASE_URL: "sqlite:schwab.db"

    strategy:
      matrix:
        os: [ubuntu-latest]
        task: [rainix-rs-test, rainix-rs-static]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Nix store cache
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G

      - run: nix run .#prepSolArtifacts
      - run: nix flake check

      - run: nix develop -c sqlx db create
      - run: nix develop -c sqlx migrate run
      - name: Run ${{ matrix.task }}
        run: nix develop -c ${{ matrix.task }}

  dashboard:
    env:
      DATABASE_URL: "sqlite:schwab.db"

    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Nix store cache
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G

      - run: nix run .#prepSolArtifacts

      - name: Install dependencies
        run: nix develop -c bun install --cwd dashboard
      - name: Generate TypeScript types
        run: |
          nix develop -c sqlx db create
          nix develop -c sqlx migrate run
          nix develop -c cargo run --bin codegen

      - name: Type check
        run: nix develop -c bun run --cwd dashboard check
      - name: Lint
        run: nix develop -c bun run --cwd dashboard lint
      - name: Test
        run: nix develop -c bun run --cwd dashboard test:run
      - name: Build
        run: nix develop -c bun run --cwd dashboard build
