name: Rainix CI
on: [push]

concurrency:
  group: ${{ github.ref }}-rainix
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  rainix:
    env:
      DATABASE_URL: "sqlite:schwab.db"

    strategy:
      matrix:
        os: [ubuntu-latest]
        task: [rainix-rs-test, rainix-rs-static]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: false

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          gc-max-store-size-linux: 5G

      - run: nix run .#prepSolArtifacts
      - run: nix flake check

      - run: nix develop -c sqlx db create
      - run: nix develop -c sqlx migrate run
      - name: Run ${{ matrix.task }}
        run: nix develop -c ${{ matrix.task }}
